# Compiled binaries
target/

# Typescript
node_modules/

# Python
__pycache__/

# C
obj/
compile_flags.txt

# Fsharp
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# AOC in/out
inputs/
outputs/
